<div class="container header-container">
  <img class="header-container__img" src="../../assets/images/logo.jpg" alt="logo">
  <div class="header-container__wrap">
    <a class="header-container__link" href=""><span class="header-container__text">+34 641 00 88 38</span></a>
    <a class="header-container__link" href=""><img src="../../assets/images/whatsap.svg" alt=""></a>
    <a class="header-container__link" href=""><img src="../../assets/images/telegram.svg" alt=""></a>
    <a class="header-container__link" href=""><span class="header-container__text">infoadmspain@gmail.com</span></a>
  </div>
</div>

<div class="container">
  <section class="hero">
    <h1 class="hero__title">Find Your Dream House</h1>
    <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut viverra <br> posuere sem purus enim eleifend habitant arcu, sed.</p>
  </section>
</div>

<div class="container">
  <section class="we-choose">
    <h1 class="we-choose__title">How we choose our listings.</h1>
    <p class="we-choose__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Nullam scelerisque aliquam odio et faucibus.</p>

   <div class="we-choose__wrap">
     <img class="we-choose__img" src="../../assets/images/we-choose__main.jpg" alt="foto">
     <ul class="we-choose__list">
       <li class="we-choose__item"><img class="we-choose__img" src="../../assets/images/we-choose__first.jpg" alt="foto"></li>
       <li class="we-choose__item"><img class="we-choose__img" src="../../assets/images/we-choose__second.jpg" alt="foto"></li>
       <li class="we-choose__item"><img class="we-choose__img" src="../../assets/images/we-choose__third.jpg" alt="foto"></li>
     </ul>
   </div>
  </section>
</div>

<div class="container">
  <section class="services">
    <h1 class="services__title">Nuestros servicios</h1>
    <div class="services__wrap">
      <img class="services__img" src="../../assets/images/services__img.jpg" alt="">
      <ul class="services__list">
        <li class="services__item"><img class="services__icon" src="../../assets/images/rebaja.svg" alt="renta"><span class="services__text">Rebaja</span></li>
        <li class="services__item"><img class="services__icon" src="../../assets/images/renta.svg" alt="renta"><span class="services__text">Renta</span></li>
        <li class="services__item"><img class="services__icon" src="../../assets/images/temporal.svg" alt="renta"><span class="services__text">Arrendamiento temporal</span></li>
        <li class="services__item"><img class="services__icon" src="../../assets/images/trabajo.svg" alt="renta"><span class="services__text">Trabajo de reparacion</span></li>
      </ul>
    </div>

  </section>
</div>

<div class="container">
  <section class="popular-places">
    <h1 class="popular-places__title">Lugares Destacados en Valencia</h1>
   <div class="popular-places__wrap">
     <img class="popular-places__main-img" src="../../assets/images/popelar-places__main.jpg" alt="">
     <ul class="popular-places__list">
       <li class="popular-places__item"><img class="popular-places__img" src="../../assets/images/popelar-places__sky.jpg" alt=""></li>
       <li class="popular-places__item"><img class="popular-places__img" src="../../assets/images/popelar-places__weater.jpg" alt=""></li>
       <li class="popular-places__item"><img class="popular-places__img" src="../../assets/images/popelar-places__beach.jpg" alt=""></li>
       <li class="popular-places__item"><img class="popular-places__img" src="../../assets/images/popelar-places__castle.jpg" alt=""></li>
     </ul>
   </div>
  </section>
</div>

<div class="container">
  <section class="choose-us">
    <div class="choose-us__wrap">
      <h1 class="choose-us__title">Who Choose Us?</h1>
      <p class="choose-us__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio laoreet sit neque sagittis. Gravida viverra at auctor sed aliquam. Sed magna eros lectus amet, viverra. Ultrices diam, volutpat sit ut feugiat semper interdum dapibus. Et malesuada tempus lacus at ornare gravida ornare nulla dui. Velit tellus elit consectetur dui vel convallis eu in lectus. Vitae id est, suspendisse suspendisse.</p>
    </div>
    <img class="choose-us__img" src="../../assets/images/choose__img.jpg" alt="">
  </section>

</div>

<div class="container">
  <footer class="footer">
    <img class="footer__img" src="../../assets/images/footer-logo.jpg" alt="">
    <ul class="footer__list">
      <li class="footer__item"><a class="footer__link" href="">+34 641 00 88 38</a></li>
      <li class="footer__item"><a class="footer__link" href=""><img class="footer__icon" src="../../assets/images/telegram.svg" alt=""></a></li>
      <li class="footer__item"><a class="footer__link" href=""><img class="footer__icon" src="../../assets/images/whatsap.svg" alt=""></a></li>
      <li class="footer__item"><a class="footer__link" href="">infoadmspain@gmail.com</a></li>
    </ul>
  </footer>
</div>

<button (click)="api()">her</button>

<p *ngIf="zalupa">{{zalupa.apartment.her}}</p>


